<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Promoções - Visualizar</title>
<th:block th:include="layout.html :: headerfiles"></th:block>
</head>
<body>
    <th:block th:include="layout.html :: header"></th:block>
    <div class="mt-10 mx-auto container">
        <table class="table-auto w-full">
            <thead>
            <tr>
                <th class="text-left">Nome</th>
                <th class="text-left">Descrição</th>
                <th class="text-left">Status</th>
                <th class="text-left">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${promocao.nmPromocao}"></td>
                <td th:text="${promocao.dsPromocao}"></td>
                <td th:text="${promocao.stPromocao} ? 'ATIVO' : 'INATIVO'"></td>
                <td>
                    <a th:onclick="|removerPromocao(${promocao.idPromocao})|">Remover</a>
                    <a th:onclick="call()">CALL</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        function removerPromocao(id) {
            confirm("Deseja realmente remover essa promoção",
                axios.delete("/promocoes/"+id)
                    .then((res) => {
                        alert("Sucesso ao excluir o registro.");
                        location.reload();
                    })
                    .catch((err) => {
                        alert("Erro ao excluir o registro.");
                    })
            );
        }
    </script>
    <th:block th:include="layout.html :: footer"></th:block>
</body>
</html>