<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Anuncios - Visualizar</title>
<th:block th:include="layout.html :: headerfiles"></th:block>
</head>
<body>
    <th:block th:include="layout.html :: header"></th:block>
    <div class="mt-10 mx-auto container">
        <table class="table-auto w-full">
            <thead>
            <tr>
                <th class="text-left">Nome</th>
                <th class="text-left">Promoção</th>
                <th class="text-left">Status</th>
                <th class="text-left">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${anuncio.dsAnuncio}"></td>
                <td th:text="${anuncio.promocao.nmPromocao}"></td>
                <td th:text="${anuncio.stAnuncio} ? 'ATIVO' : 'INATIVO'"></td>
                <td>
                    <a th:onclick="|removerAnuncio(${anuncio.idAnuncio})|">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        function removerAnuncio(id) {
            confirm("Deseja realmente remover esse anuncio",
                axios.delete("/anuncios/"+id)
                    .then((res) => {
                        alert("Sucesso ao excluir o registro.");
                        location.reload();
                    })
                    .catch((err) => {
                        alert("Erro ao excluir o registro.");
                    })
            );
        }
    </script>
    <th:block th:include="layout.html :: footer"></th:block>
</body>
</html>