<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Promoções - Listar</title>
<th:block th:include="layout.html :: headerfiles"></th:block>
</head>
<body>
    <th:block th:include="layout.html :: header"></th:block>
    <div class="mt-10 mx-auto container">
        <table class="table-auto w-full">
            <thead>
            <tr>
                <th class="text-left">Nome</th>
                <th class="text-left">Promoção</th>
                <th class="text-left">Status</th>
                <th class="text-left">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${anuncio.dsAnuncio}"></td>
                <td th:text="${anuncio.promocao.nmPromocao}"></td>
                <td th:text="${anuncio.stAnuncio} ? 'ATIVO' : 'INATIVO'"></td>
                <td>
                    <a th:onclick="removerAnuncio()">Remover</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <th:block th:include="layout.html :: footer"></th:block>
</body>
</html>